NODERED FLOW/andonx.txt
[{"id":"ca41a62d.cb3e88","type":"tab","label":"WS Machine State","disabled":false,"info":""},{"id":"9c9f9c3a.64044","type":"tab","label":"WS Target Stroke","disabled":false,"info":""},{"id":"f30d0d24.f3ede","type":"tab","label":"WS Item Number","disabled":false,"info":""},{"id":"d18c2fab.535f8","type":"tab","label":"WS Current Stroke","disabled":false,"info":""},{"id":"3d7eba5a.ef1f86","type":"tab","label":"WS Total Stroke","disabled":false,"info":""},{"id":"80191a1b.2cd978","type":"tab","label":"WS Total Line Stop","disabled":false,"info":""},{"id":"8ebc77b8.2f077","type":"websocket-client","path":"ws://localhost:1880/ws/trigger/kikukawa","tls":"","wholemsg":"false"},{"id":"d9266c54.60235","type":"websocket-client","path":"ws://localhost:1880/ws/trigger/ncb3","tls":"","wholemsg":"false"},{"id":"627c1098.6cc308","type":"websocket-client","path":"ws://localhost:1880/ws/trigger/ncb6","tls":"","wholemsg":"false"},{"id":"5cabe49d.e9276c","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"andon_polymodel","tz":"","charset":""},{"id":"89b9e377.59ea08","type":"modbus-client","name":"ioLogic_kikukawa","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"a891d015.cc76","type":"modbus-client","name":"ioLogic_ncb3","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.12","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a0eacc6d.3ddd38","type":"modbus-client","name":"ioLogic_ncb6","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"19a6cb10.7b7775","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"andonx","tz":"","charset":"UTF8"},{"id":"2c8afd5d.06e592","type":"websocket-listener","path":"/ws/real_target_stroke","wholemsg":"false"},{"id":"a1a5f5f9.225578","type":"websocket-listener","path":"/ws/machine_indicator","wholemsg":"false"},{"id":"b46f4cb3.4cbef","type":"websocket-listener","path":"/ws/item_name_machine_i","wholemsg":"false"},{"id":"c75d53fd.d7125","type":"websocket-listener","path":"/ws/item_name_machine_h","wholemsg":"false"},{"id":"ad552998.8a6b28","type":"websocket-listener","path":"/ws/item_name_machine_aa","wholemsg":"false"},{"id":"9478d176.29c63","type":"websocket-listener","path":"/ws/item_name_machine_z","wholemsg":"false"},{"id":"b2b81835.26cd28","type":"websocket-client","path":"ws://localhost:1880/ws/monthly","tls":"","wholemsg":"false"},{"id":"76083576.c71f5c","type":"websocket-listener","path":"/ws/current_stroke_i","wholemsg":"false"},{"id":"87fc646e.033178","type":"websocket-listener","path":"/ws/current_stroke_h","wholemsg":"false"},{"id":"fa47692d.d86268","type":"websocket-listener","path":"/ws/current_stroke_aa","wholemsg":"false"},{"id":"74032fd5.09d1","type":"websocket-listener","path":"/ws/current_stroke_z","wholemsg":"false"},{"id":"848fa966.8e6968","type":"websocket-listener","path":"/ws/total_stroke_i","wholemsg":"false"},{"id":"d8efc4cb.f3e838","type":"websocket-listener","path":"/ws/total_stroke_h","wholemsg":"false"},{"id":"4528656a.39cd5c","type":"websocket-listener","path":"/ws/total_stroke_aa","wholemsg":"false"},{"id":"6e8a590d.9cfb88","type":"websocket-listener","path":"/ws/total_stroke_z","wholemsg":"false"},{"id":"61affe4d.d050e","type":"websocket-listener","path":"/ws/total_line_stop_i","wholemsg":"false"},{"id":"6a32a527.44577c","type":"websocket-listener","path":"/ws/total_line_stop_h","wholemsg":"false"},{"id":"c7c58b3f.c4cb78","type":"websocket-listener","path":"/ws/total_line_stop_aa","wholemsg":"false"},{"id":"93ab367b.77ba78","type":"websocket-listener","path":"/ws/total_line_stop_z","wholemsg":"false"},{"id":"60134674.e95498","type":"inject","z":"9c9f9c3a.64044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["cf5e029b.e437"]]},{"id":"cf5e029b.e437","type":"function","z":"9c9f9c3a.64044","name":"QUERY","func":"msg.topic = `select * from targets`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":62,"wires":[["f8017861.431698"]]},{"id":"f8017861.431698","type":"mysql","z":"9c9f9c3a.64044","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":102,"wires":[["34504aa1.1484d6","e9ed6b02.8cbdc8"]]},{"id":"34504aa1.1484d6","type":"debug","z":"9c9f9c3a.64044","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":62,"wires":[]},{"id":"3f31058.5d193fa","type":"websocket out","z":"9c9f9c3a.64044","name":"/ws/real_target_stroke == WS Out Target Stroke","server":"2c8afd5d.06e592","client":"","x":899,"y":182,"wires":[]},{"id":"e9ed6b02.8cbdc8","type":"jquerify","z":"9c9f9c3a.64044","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":142,"wires":[["3f31058.5d193fa"]]},{"id":"41e30c76.cd5414","type":"inject","z":"ca41a62d.cb3e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["6612148c.0ea3dc"]]},{"id":"6612148c.0ea3dc","type":"function","z":"ca41a62d.cb3e88","name":"QUERY","func":"msg.topic = `select * from machine_states`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":62,"wires":[["db408ff9.87c93"]]},{"id":"db408ff9.87c93","type":"mysql","z":"ca41a62d.cb3e88","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":102,"wires":[["d44b161.1fa45e8","73498682.402e58"]]},{"id":"d44b161.1fa45e8","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":62,"wires":[]},{"id":"3ed495d2.62abfa","type":"websocket out","z":"ca41a62d.cb3e88","name":"/ws/machine_indicator == WS Out Machine Indicator","server":"a1a5f5f9.225578","client":"","x":919,"y":182,"wires":[]},{"id":"73498682.402e58","type":"jquerify","z":"ca41a62d.cb3e88","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":142,"wires":[["3ed495d2.62abfa"]]},{"id":"9aa51210.b4bb4","type":"inject","z":"ca41a62d.cb3e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["9da21b58.320e58"]]},{"id":"9da21b58.320e58","type":"function","z":"ca41a62d.cb3e88","name":"QUERY","func":"var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'i' `;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":340,"wires":[["b15f315e.e8a33","3762b42b.a3639c"]]},{"id":"b15f315e.e8a33","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":340,"wires":[]},{"id":"3762b42b.a3639c","type":"mysql","z":"ca41a62d.cb3e88","mydb":"19a6cb10.7b7775","name":"DB andonx","x":130,"y":420,"wires":[[]]},{"id":"fc5a07f.1f3c2f8","type":"comment","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":220,"y":320,"wires":[]},{"id":"ac93c437.1a81b8","type":"inject","z":"ca41a62d.cb3e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[["4c873503.9531ac"]]},{"id":"4c873503.9531ac","type":"function","z":"ca41a62d.cb3e88","name":"QUERY","func":"var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'h' `;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":580,"wires":[["d7757a6e.ec8108","eb6ce2e1.5253a"]]},{"id":"d7757a6e.ec8108","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":580,"wires":[]},{"id":"eb6ce2e1.5253a","type":"mysql","z":"ca41a62d.cb3e88","mydb":"19a6cb10.7b7775","name":"DB andonx","x":120,"y":660,"wires":[[]]},{"id":"f310ef9e.1fc15","type":"comment","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":210,"y":560,"wires":[]},{"id":"b5a6a81c.9ae868","type":"inject","z":"ca41a62d.cb3e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":740,"wires":[["1cfb0077.4bbf1"]]},{"id":"1cfb0077.4bbf1","type":"function","z":"ca41a62d.cb3e88","name":"QUERY","func":"var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'aa' `;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":820,"wires":[["f1f2f6b1.6c21e8","f6af5637.56fd38"]]},{"id":"f1f2f6b1.6c21e8","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":820,"wires":[]},{"id":"f6af5637.56fd38","type":"mysql","z":"ca41a62d.cb3e88","mydb":"19a6cb10.7b7775","name":"DB andonx","x":140,"y":900,"wires":[[]]},{"id":"5e91d0b4.3a557","type":"comment","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":230,"y":800,"wires":[]},{"id":"9a5db3d0.02165","type":"inject","z":"ca41a62d.cb3e88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":980,"wires":[["90ef2a55.ec37b8"]]},{"id":"90ef2a55.ec37b8","type":"function","z":"ca41a62d.cb3e88","name":"QUERY","func":"var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'z' `;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":1060,"wires":[["38bbdd6d.ec40c2","3c2bc934.e81c86"]]},{"id":"38bbdd6d.ec40c2","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":1060,"wires":[]},{"id":"3c2bc934.e81c86","type":"mysql","z":"ca41a62d.cb3e88","mydb":"19a6cb10.7b7775","name":"DB andonx","x":140,"y":1140,"wires":[[]]},{"id":"652af2c4.109ebc","type":"comment","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":230,"y":1040,"wires":[]},{"id":"c6028c33.b8345","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":820,"wires":[["b3577abe.f35398"]]},{"id":"b3577abe.f35398","type":"function","z":"f30d0d24.f3ede","name":"Generate Random String Alphanumeric","func":"function randomString(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar rString = randomString(14, '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ');\nmsg.topic = {\n    randomString: rString\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":880,"wires":[["4dfda7a1.6c2548"]]},{"id":"c5cf2753.ba6a98","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":940,"wires":[]},{"id":"4dfda7a1.6c2548","type":"function","z":"f30d0d24.f3ede","name":"SQL Store Machine Log - Item Number","func":"msg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'item_number', '${msg.topic.randomString}', NOW()) \n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":940,"wires":[["c5cf2753.ba6a98","17894de2.f7d372"]]},{"id":"17894de2.f7d372","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":150,"y":1000,"wires":[[]]},{"id":"572b13ed.fc4f4c","type":"comment","z":"f30d0d24.f3ede","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":260,"y":920,"wires":[]},{"id":"5ce6a162.49ef6","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":111,"y":38,"wires":[["2835600a.59595"]]},{"id":"2835600a.59595","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'i' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":60,"wires":[["a54739a3.843e18"]]},{"id":"a54739a3.843e18","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":450,"y":100,"wires":[["2d657341.01737c","47dbb7d0.d46ad8"]]},{"id":"2d657341.01737c","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":60,"wires":[]},{"id":"82b0b015.a2cd2","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_i == WS Out Item Name","server":"b46f4cb3.4cbef","client":"","x":910,"y":180,"wires":[]},{"id":"47dbb7d0.d46ad8","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["82b0b015.a2cd2"]]},{"id":"de1b6258.3113b","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1120,"wires":[["54f73503.a7f9dc"]]},{"id":"54f73503.a7f9dc","type":"function","z":"f30d0d24.f3ede","name":"Generate Random String Alphanumeric","func":"function randomString(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar rString = randomString(14, '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ');\nmsg.topic = {\n    randomString: rString\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1180,"wires":[["e3dab1d9.f5a96"]]},{"id":"7c2d55ee.06624c","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1240,"wires":[]},{"id":"e3dab1d9.f5a96","type":"function","z":"f30d0d24.f3ede","name":"SQL Store Machine Log - Item Number","func":"msg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'item_number', '${msg.topic.randomString}', NOW()) \n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":1240,"wires":[["7c2d55ee.06624c","e7ec45f7.6d99a8"]]},{"id":"e7ec45f7.6d99a8","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":150,"y":1300,"wires":[[]]},{"id":"a788bd47.d50dd","type":"comment","z":"f30d0d24.f3ede","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":260,"y":1220,"wires":[]},{"id":"b37fef44.068dc","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1400,"wires":[["14466195.8e699e"]]},{"id":"14466195.8e699e","type":"function","z":"f30d0d24.f3ede","name":"Generate Random String Alphanumeric","func":"function randomString(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar rString = randomString(14, '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ');\nmsg.topic = {\n    randomString: rString\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1460,"wires":[["aa202e2a.0bf9b"]]},{"id":"aabd1c1b.5ec58","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1520,"wires":[]},{"id":"aa202e2a.0bf9b","type":"function","z":"f30d0d24.f3ede","name":"SQL Store Machine Log - Item Number","func":"msg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'item_number', '${msg.topic.randomString}', NOW()) \n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":1520,"wires":[["aabd1c1b.5ec58","cee0ef9d.2cdaa"]]},{"id":"cee0ef9d.2cdaa","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":150,"y":1580,"wires":[[]]},{"id":"227f068e.5d6bca","type":"comment","z":"f30d0d24.f3ede","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":260,"y":1500,"wires":[]},{"id":"f065159c.c892d8","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1680,"wires":[["cfd25351.0ecca"]]},{"id":"cfd25351.0ecca","type":"function","z":"f30d0d24.f3ede","name":"Generate Random String Alphanumeric","func":"function randomString(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar rString = randomString(14, '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ');\nmsg.topic = {\n    randomString: rString\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1740,"wires":[["86e56e2c.31cef"]]},{"id":"5ceb2ec7.5c049","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1800,"wires":[]},{"id":"86e56e2c.31cef","type":"function","z":"f30d0d24.f3ede","name":"SQL Store Machine Log - Item Number","func":"msg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'item_number', '${msg.topic.randomString}', NOW()) \n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":1800,"wires":[["5ceb2ec7.5c049","42e29f32.96835"]]},{"id":"42e29f32.96835","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":150,"y":1860,"wires":[[]]},{"id":"f7886a67.286a68","type":"comment","z":"f30d0d24.f3ede","name":"REMOVE IN PRODUCTION","info":"REMOVE IN PRODUCTION","x":260,"y":1780,"wires":[]},{"id":"7f2b83a5.ec73ec","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["9a315374.02a88"]]},{"id":"9a315374.02a88","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'h' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":262,"wires":[["e1c93409.c563a8"]]},{"id":"e1c93409.c563a8","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":302,"wires":[["e6f6a93a.36f058","3cf92c8a.d86b84"]]},{"id":"e6f6a93a.36f058","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":262,"wires":[]},{"id":"9f050b30.d62638","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_h == WS Out Item Name","server":"c75d53fd.d7125","client":"","x":909,"y":382,"wires":[]},{"id":"3cf92c8a.d86b84","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":342,"wires":[["9f050b30.d62638"]]},{"id":"dface6f8.c17478","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["fd947e3d.85f72"]]},{"id":"fd947e3d.85f72","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'aa' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":462,"wires":[["426b6ac1.655ad4"]]},{"id":"426b6ac1.655ad4","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":502,"wires":[["a3c98438.c9d4c8","de8671ee.ddc12"]]},{"id":"a3c98438.c9d4c8","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":462,"wires":[]},{"id":"8a11c2d7.dca7e","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_aa == WS Out Item Name","server":"ad552998.8a6b28","client":"","x":919,"y":582,"wires":[]},{"id":"de8671ee.ddc12","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":542,"wires":[["8a11c2d7.dca7e"]]},{"id":"31093c7b.795bc4","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["7531252e.4ef24c"]]},{"id":"7531252e.4ef24c","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'z' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":662,"wires":[["e407e940.9b9c38"]]},{"id":"e407e940.9b9c38","type":"mysql","z":"f30d0d24.f3ede","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":702,"wires":[["49f8c9b2.52a228","db27e136.16566"]]},{"id":"49f8c9b2.52a228","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":662,"wires":[]},{"id":"827b74c.a95ae88","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_z == WS Out Item Name","server":"9478d176.29c63","client":"","x":909,"y":782,"wires":[]},{"id":"db27e136.16566","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":742,"wires":[["827b74c.a95ae88"]]},{"id":"b31269ca.ceea08","type":"inject","z":"d18c2fab.535f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["391a9627.d53e1a","328aa2d7.b728be","d089e249.8b98f","86b01edd.3c72b"]]},{"id":"391a9627.d53e1a","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke I","func":"msg.payload = {\n    currentStrokeI: currentStrokeI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'current_stroke', '${currentStrokeI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeI = 0;","finalize":"","x":400,"y":40,"wires":[["65bdc323.40477c","9ecb7446.db4b98"]]},{"id":"65bdc323.40477c","type":"mysql","z":"d18c2fab.535f8","mydb":"19a6cb10.7b7775","name":"","x":720,"y":280,"wires":[[]]},{"id":"9ecb7446.db4b98","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_i == WS Out Current Stroke","server":"76083576.c71f5c","client":"","x":820,"y":40,"wires":[]},{"id":"328aa2d7.b728be","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke H","func":"msg.payload = {\n    currentStrokeH: currentStrokeH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'current_stroke', '${currentStrokeH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeH = 10;","finalize":"","x":400,"y":100,"wires":[["65bdc323.40477c","8bf67aa7.611bc8"]]},{"id":"d089e249.8b98f","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke AA","func":"msg.payload = {\n    currentStrokeAA: currentStrokeAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'current_stroke', '${currentStrokeAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeAA = 100;","finalize":"","x":400,"y":160,"wires":[["65bdc323.40477c","647307e9.5206a8"]]},{"id":"86b01edd.3c72b","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke Z","func":"msg.payload = {\n    currentStrokeZ: currentStrokeZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'current_stroke', '${currentStrokeZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeZ = 1000;","finalize":"","x":400,"y":220,"wires":[["65bdc323.40477c","9d115488.e48288"]]},{"id":"8bf67aa7.611bc8","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_h == WS Out Current Stroke","server":"87fc646e.033178","client":"","x":820,"y":100,"wires":[]},{"id":"647307e9.5206a8","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_aa == WS Out Current Stroke","server":"fa47692d.d86268","client":"","x":830,"y":160,"wires":[]},{"id":"9d115488.e48288","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_z == WS Out Current Stroke","server":"74032fd5.09d1","client":"","x":820,"y":220,"wires":[]},{"id":"45be1585.c861cc","type":"inject","z":"3d7eba5a.ef1f86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["5dda7a4a.d7f944","67833631.993c48","a6e46f65.4f061","693a6d51.516ec4"]]},{"id":"5dda7a4a.d7f944","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke I","func":"msg.payload = {\n    totalStrokeI: totalStrokeI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'total_stroke', '${totalStrokeI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeI = 0;","finalize":"","x":390,"y":60,"wires":[["c1ef029.e9089","731da646.3eebd8"]]},{"id":"c1ef029.e9089","type":"mysql","z":"3d7eba5a.ef1f86","mydb":"19a6cb10.7b7775","name":"","x":720,"y":300,"wires":[[]]},{"id":"731da646.3eebd8","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_i == WS Out Total Stroke","server":"848fa966.8e6968","client":"","x":800,"y":60,"wires":[]},{"id":"67833631.993c48","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke H","func":"msg.payload = {\n    totalStrokeH: totalStrokeH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'total_stroke', '${totalStrokeH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeH = 10;","finalize":"","x":390,"y":120,"wires":[["c1ef029.e9089","30eb39ff.39cd36"]]},{"id":"a6e46f65.4f061","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke AA","func":"msg.payload = {\n    totalStrokeAA: totalStrokeAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'total_stroke', '${totalStrokeAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeAA = 100;","finalize":"","x":400,"y":180,"wires":[["c1ef029.e9089","f9da0540.1d2008"]]},{"id":"693a6d51.516ec4","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke Z","func":"msg.payload = {\n    totalStrokeZ: totalStrokeZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'total_stroke', '${totalStrokeZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeZ = 1000;","finalize":"","x":390,"y":240,"wires":[["c1ef029.e9089","29406425.f010bc"]]},{"id":"30eb39ff.39cd36","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_h == WS Out Total Stroke","server":"d8efc4cb.f3e838","client":"","x":810,"y":120,"wires":[]},{"id":"f9da0540.1d2008","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_aa == WS Out Total Stroke","server":"4528656a.39cd5c","client":"","x":810,"y":180,"wires":[]},{"id":"29406425.f010bc","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_z == WS Out Total Stroke","server":"6e8a590d.9cfb88","client":"","x":800,"y":240,"wires":[]},{"id":"d319ea3f.47c868","type":"inject","z":"80191a1b.2cd978","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["9fe1c858.9fcbc8","25a1c74b.0457b8","ee04028.fee8","13743271.57cd2e"]]},{"id":"9fe1c858.9fcbc8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop I","func":"msg.payload = {\n    totalLineStopI: totalLineStopI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'total_line_stop', '${totalLineStopI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopI = 5;","finalize":"","x":380,"y":60,"wires":[["bff215e6.543198","3f476e3f.69ffd2"]]},{"id":"bff215e6.543198","type":"mysql","z":"80191a1b.2cd978","mydb":"19a6cb10.7b7775","name":"","x":700,"y":300,"wires":[[]]},{"id":"3f476e3f.69ffd2","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_i == WS Out Total Line Stop","server":"61affe4d.d050e","client":"","x":800,"y":60,"wires":[]},{"id":"25a1c74b.0457b8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop  H","func":"msg.payload = {\n    totalLineStopH: totalLineStopH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'total_line_stop', '${totalLineStopH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopH = 15;","finalize":"","x":380,"y":120,"wires":[["bff215e6.543198","eaad5bee.87a198"]]},{"id":"ee04028.fee8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop AA","func":"msg.payload = {\n    totalLineStopAA: totalLineStopAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'total_line_stop', '${totalLineStopAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopAA = 105;","finalize":"","x":390,"y":180,"wires":[["bff215e6.543198","d92bf2.ffa4441"]]},{"id":"13743271.57cd2e","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop Z","func":"msg.payload = {\n    totalLineStopZ: totalLineStopZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'total_line_stop', '${totalLineStopZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopZ = 1005;","finalize":"","x":380,"y":240,"wires":[["bff215e6.543198","efcdb00b.839ca"]]},{"id":"eaad5bee.87a198","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_h == WS Out Total Line Stop","server":"6a32a527.44577c","client":"","x":800,"y":120,"wires":[]},{"id":"d92bf2.ffa4441","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_aa == WS Out Total Line Stop","server":"c7c58b3f.c4cb78","client":"","x":810,"y":180,"wires":[]},{"id":"efcdb00b.839ca","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_z == WS Out Total Line Stop","server":"93ab367b.77ba78","client":"","x":800,"y":240,"wires":[]}]