NODERED FLOW/andonx.txt
[{"id":"ca41a62d.cb3e88","type":"tab","label":"WS Machine I","disabled":false,"info":""},{"id":"d123c74c.ba21b8","type":"tab","label":"WS Machine H","disabled":false,"info":""},{"id":"c30d56e.b4f5ea8","type":"tab","label":"WS Machine AA","disabled":false,"info":""},{"id":"93eeb99f.38ec78","type":"tab","label":"WS Machine Z","disabled":false,"info":""},{"id":"9c9f9c3a.64044","type":"tab","label":"WS Target Stroke","disabled":false,"info":""},{"id":"f30d0d24.f3ede","type":"tab","label":"WS Item Number","disabled":false,"info":""},{"id":"3d7eba5a.ef1f86","type":"tab","label":"WS Total Stroke","disabled":false,"info":""},{"id":"80191a1b.2cd978","type":"tab","label":"WS Total Line Stop","disabled":false,"info":""},{"id":"19a6cb10.7b7775","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"andonx","tz":"","charset":"UTF8"},{"id":"2c8afd5d.06e592","type":"websocket-listener","path":"/ws/real_target_stroke","wholemsg":"false"},{"id":"a1a5f5f9.225578","type":"websocket-listener","path":"/ws/machine_indicator_i","wholemsg":"false"},{"id":"b46f4cb3.4cbef","type":"websocket-listener","path":"/ws/item_name_machine_i","wholemsg":"false"},{"id":"c75d53fd.d7125","type":"websocket-listener","path":"/ws/item_name_machine_h","wholemsg":"false"},{"id":"ad552998.8a6b28","type":"websocket-listener","path":"/ws/item_name_machine_aa","wholemsg":"false"},{"id":"9478d176.29c63","type":"websocket-listener","path":"/ws/item_name_machine_z","wholemsg":"false"},{"id":"76083576.c71f5c","type":"websocket-listener","path":"/ws/current_stroke_i","wholemsg":"false"},{"id":"87fc646e.033178","type":"websocket-listener","path":"/ws/current_stroke_h","wholemsg":"false"},{"id":"fa47692d.d86268","type":"websocket-listener","path":"/ws/current_stroke_aa","wholemsg":"false"},{"id":"74032fd5.09d1","type":"websocket-listener","path":"/ws/current_stroke_z","wholemsg":"false"},{"id":"848fa966.8e6968","type":"websocket-listener","path":"/ws/total_stroke_i","wholemsg":"false"},{"id":"d8efc4cb.f3e838","type":"websocket-listener","path":"/ws/total_stroke_h","wholemsg":"false"},{"id":"4528656a.39cd5c","type":"websocket-listener","path":"/ws/total_stroke_aa","wholemsg":"false"},{"id":"6e8a590d.9cfb88","type":"websocket-listener","path":"/ws/total_stroke_z","wholemsg":"false"},{"id":"61affe4d.d050e","type":"websocket-listener","path":"/ws/total_line_stop_i","wholemsg":"false"},{"id":"6a32a527.44577c","type":"websocket-listener","path":"/ws/total_line_stop_h","wholemsg":"false"},{"id":"c7c58b3f.c4cb78","type":"websocket-listener","path":"/ws/total_line_stop_aa","wholemsg":"false"},{"id":"93ab367b.77ba78","type":"websocket-listener","path":"/ws/total_line_stop_z","wholemsg":"false"},{"id":"201b2a93.0b9286","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69dc3822.6449a8","type":"websocket-listener","path":"/ws/machine_indicator_h","wholemsg":"false"},{"id":"9540e14e.49128","type":"websocket-listener","path":"/ws/machine_indicator_aa","wholemsg":"false"},{"id":"b87e9275.99364","type":"websocket-listener","path":"/ws/machine_indicator_z","wholemsg":"false"},{"id":"60134674.e95498","type":"inject","z":"9c9f9c3a.64044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["cf5e029b.e437"]]},{"id":"cf5e029b.e437","type":"function","z":"9c9f9c3a.64044","name":"QUERY","func":"msg.topic = `select * from targets`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":62,"wires":[["f8017861.431698"]]},{"id":"f8017861.431698","type":"mysql","z":"9c9f9c3a.64044","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":102,"wires":[["34504aa1.1484d6","e9ed6b02.8cbdc8"]]},{"id":"34504aa1.1484d6","type":"debug","z":"9c9f9c3a.64044","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":629,"y":62,"wires":[]},{"id":"3f31058.5d193fa","type":"websocket out","z":"9c9f9c3a.64044","name":"/ws/real_target_stroke == WS Out Target Stroke","server":"2c8afd5d.06e592","client":"","x":899,"y":182,"wires":[]},{"id":"e9ed6b02.8cbdc8","type":"jquerify","z":"9c9f9c3a.64044","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":142,"wires":[["3f31058.5d193fa"]]},{"id":"5ce6a162.49ef6","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":111,"y":38,"wires":[["2835600a.59595"]]},{"id":"2835600a.59595","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'i' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":60,"wires":[["47dbb7d0.d46ad8"]]},{"id":"2d657341.01737c","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]},{"id":"82b0b015.a2cd2","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_i == WS Out Item Name","server":"b46f4cb3.4cbef","client":"","x":790,"y":140,"wires":[]},{"id":"47dbb7d0.d46ad8","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["82b0b015.a2cd2"]]},{"id":"7f2b83a5.ec73ec","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["9a315374.02a88"]]},{"id":"9a315374.02a88","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'h' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":262,"wires":[["3cf92c8a.d86b84"]]},{"id":"e6f6a93a.36f058","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":509,"y":222,"wires":[]},{"id":"9f050b30.d62638","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_h == WS Out Item Name","server":"c75d53fd.d7125","client":"","x":789,"y":342,"wires":[]},{"id":"3cf92c8a.d86b84","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":302,"wires":[["9f050b30.d62638"]]},{"id":"dface6f8.c17478","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["fd947e3d.85f72"]]},{"id":"fd947e3d.85f72","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'aa' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":462,"wires":[["de8671ee.ddc12"]]},{"id":"a3c98438.c9d4c8","type":"debug","z":"f30d0d24.f3ede","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":509,"y":422,"wires":[]},{"id":"8a11c2d7.dca7e","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_aa == WS Out Item Name","server":"ad552998.8a6b28","client":"","x":799,"y":542,"wires":[]},{"id":"de8671ee.ddc12","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":502,"wires":[["8a11c2d7.dca7e"]]},{"id":"31093c7b.795bc4","type":"inject","z":"f30d0d24.f3ede","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":640,"wires":[["7531252e.4ef24c"]]},{"id":"7531252e.4ef24c","type":"function","z":"f30d0d24.f3ede","name":"QUERY","func":"msg.topic = `\nSELECT * FROM machine_logs \nWHERE \n    machine_logs.machine = 'z' AND\n    machine_logs.category = 'item_number'\nORDER BY machine_logs.created_at DESC\nLIMIT 1\n`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":662,"wires":[["db27e136.16566"]]},{"id":"827b74c.a95ae88","type":"websocket out","z":"f30d0d24.f3ede","name":"/ws/item_name_machine_z == WS Out Item Name","server":"9478d176.29c63","client":"","x":789,"y":742,"wires":[]},{"id":"db27e136.16566","type":"jquerify","z":"f30d0d24.f3ede","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":702,"wires":[["827b74c.a95ae88"]]},{"id":"45be1585.c861cc","type":"inject","z":"3d7eba5a.ef1f86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["5dda7a4a.d7f944","67833631.993c48","a6e46f65.4f061","693a6d51.516ec4"]]},{"id":"5dda7a4a.d7f944","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke I","func":"msg.payload = {\n    totalStrokeI: totalStrokeI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'total_stroke', '${totalStrokeI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeI = 0;","finalize":"","x":390,"y":60,"wires":[["c1ef029.e9089","731da646.3eebd8"]]},{"id":"c1ef029.e9089","type":"mysql","z":"3d7eba5a.ef1f86","d":true,"mydb":"19a6cb10.7b7775","name":"","x":720,"y":300,"wires":[[]]},{"id":"731da646.3eebd8","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_i == WS Out Total Stroke","server":"848fa966.8e6968","client":"","x":800,"y":60,"wires":[]},{"id":"67833631.993c48","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke H","func":"msg.payload = {\n    totalStrokeH: totalStrokeH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'total_stroke', '${totalStrokeH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeH = 10;","finalize":"","x":390,"y":120,"wires":[["c1ef029.e9089","30eb39ff.39cd36"]]},{"id":"a6e46f65.4f061","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke AA","func":"msg.payload = {\n    totalStrokeAA: totalStrokeAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'total_stroke', '${totalStrokeAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeAA = 100;","finalize":"","x":400,"y":180,"wires":[["c1ef029.e9089","f9da0540.1d2008"]]},{"id":"693a6d51.516ec4","type":"function","z":"3d7eba5a.ef1f86","name":"SQL + Increment Total Stroke Z","func":"msg.payload = {\n    totalStrokeZ: totalStrokeZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'total_stroke', '${totalStrokeZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalStrokeZ = 1000;","finalize":"","x":390,"y":240,"wires":[["c1ef029.e9089","29406425.f010bc"]]},{"id":"30eb39ff.39cd36","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_h == WS Out Total Stroke","server":"d8efc4cb.f3e838","client":"","x":810,"y":120,"wires":[]},{"id":"f9da0540.1d2008","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_aa == WS Out Total Stroke","server":"4528656a.39cd5c","client":"","x":810,"y":180,"wires":[]},{"id":"29406425.f010bc","type":"websocket out","z":"3d7eba5a.ef1f86","name":"/ws/total_stroke_z == WS Out Total Stroke","server":"6e8a590d.9cfb88","client":"","x":800,"y":240,"wires":[]},{"id":"d319ea3f.47c868","type":"inject","z":"80191a1b.2cd978","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["9fe1c858.9fcbc8","25a1c74b.0457b8","ee04028.fee8","13743271.57cd2e"]]},{"id":"9fe1c858.9fcbc8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop I","func":"msg.payload = {\n    totalLineStopI: totalLineStopI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'total_line_stop', '${totalLineStopI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopI = 5;","finalize":"","x":380,"y":60,"wires":[["3f476e3f.69ffd2"]]},{"id":"3f476e3f.69ffd2","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_i == WS Out Total Line Stop","server":"61affe4d.d050e","client":"","x":800,"y":60,"wires":[]},{"id":"25a1c74b.0457b8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop  H","func":"msg.payload = {\n    totalLineStopH: totalLineStopH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'total_line_stop', '${totalLineStopH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopH = 15;","finalize":"","x":380,"y":120,"wires":[["eaad5bee.87a198"]]},{"id":"ee04028.fee8","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop AA","func":"msg.payload = {\n    totalLineStopAA: totalLineStopAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'total_line_stop', '${totalLineStopAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopAA = 105;","finalize":"","x":390,"y":180,"wires":[["d92bf2.ffa4441"]]},{"id":"13743271.57cd2e","type":"function","z":"80191a1b.2cd978","name":"SQL + Increment Total Line Stop Z","func":"msg.payload = {\n    totalLineStopZ: totalLineStopZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'total_line_stop', '${totalLineStopZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ntotalLineStopZ = 1005;","finalize":"","x":380,"y":240,"wires":[["efcdb00b.839ca"]]},{"id":"eaad5bee.87a198","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_h == WS Out Total Line Stop","server":"6a32a527.44577c","client":"","x":800,"y":120,"wires":[]},{"id":"d92bf2.ffa4441","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_aa == WS Out Total Line Stop","server":"c7c58b3f.c4cb78","client":"","x":810,"y":180,"wires":[]},{"id":"efcdb00b.839ca","type":"websocket out","z":"80191a1b.2cd978","name":"/ws/total_line_stop_z == WS Out Total Line Stop","server":"93ab367b.77ba78","client":"","x":800,"y":240,"wires":[]},{"id":"9e5b033f.d8f43","type":"mqtt in","z":"ca41a62d.cb3e88","name":"","topic":"machineISimulator","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":110,"y":120,"wires":[["904fedfe.07837","ed167884.3c09a8","92826c4c.bd96e"]]},{"id":"ed167884.3c09a8","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":20,"wires":[]},{"id":"904fedfe.07837","type":"function","z":"ca41a62d.cb3e88","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineISimulator.Mch1.CurrentStroke'){\n        currentStroke = index.v;\n    }\n});\n\nmsg.payload = {\n    currentStroke: currentStroke\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["8916e5a2.d6ed08","fadd3b3b.c45618"]]},{"id":"8916e5a2.d6ed08","type":"debug","z":"ca41a62d.cb3e88","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":20,"wires":[]},{"id":"fadd3b3b.c45618","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"76083576.c71f5c","client":"","x":590,"y":140,"wires":[]},{"id":"92826c4c.bd96e","type":"function","z":"ca41a62d.cb3e88","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineISimulator.Mch1.I_PROD'){\n        stateProduksi = index.v;\n    }else if(index.id == 'LineISimulator.Mch1.I_STOP'){\n        stateStop = index.v;\n    }else if(index.id == 'LineISimulator.Mch1.I_DAND'){\n        stateDandori = index.v;\n    }else if(index.id == 'LineISimulator.Mch1.I_TRBL'){\n        stateTrblDie = index.v;\n    }else if(index.id == 'LineISimulator.Mch1.I_MC'){\n        stateTrblMC = index.v;\n    }\n});\n\nmsg.payload = {\n    stateProduksi: stateProduksi,\n    stateStop: stateStop,\n    stateDandori: stateDandori,\n    stateTrblDie: stateTrblDie,\n    stateTrblMC: stateTrblMC,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["42e5462a.545e48"]]},{"id":"42e5462a.545e48","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"a1a5f5f9.225578","client":"","x":600,"y":300,"wires":[]},{"id":"569a7e7.b65158","type":"mqtt in","z":"d123c74c.ba21b8","name":"","topic":"machineHSimulator","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":110,"y":120,"wires":[["dfeb280.1a47cd8","9fd33c83.b35e1","6d4528f7.a7de38"]]},{"id":"9fd33c83.b35e1","type":"debug","z":"d123c74c.ba21b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":20,"wires":[]},{"id":"dfeb280.1a47cd8","type":"function","z":"d123c74c.ba21b8","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineHSimulator.Mch1.CurrentStroke'){\n        currentStroke = index.v;\n    }\n});\n\nmsg.payload = {\n    currentStroke: currentStroke\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["898d1037.b822a","9f42a236.c3422"]]},{"id":"898d1037.b822a","type":"debug","z":"d123c74c.ba21b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":20,"wires":[]},{"id":"9f42a236.c3422","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"87fc646e.033178","client":"","x":590,"y":140,"wires":[]},{"id":"6d4528f7.a7de38","type":"function","z":"d123c74c.ba21b8","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineHSimulator.Mch1.H_PROD'){\n        stateProduksi = index.v;\n    }else if(index.id == 'LineHSimulator.Mch1.H_STOP'){\n        stateStop = index.v;\n    }else if(index.id == 'LineHSimulator.Mch1.H_DAND'){\n        stateDandori = index.v;\n    }else if(index.id == 'LineHSimulator.Mch1.H_TRBL'){\n        stateTrblDie = index.v;\n    }else if(index.id == 'LineHSimulator.Mch1.H_MC'){\n        stateTrblMC = index.v;\n    }\n});\n\nmsg.payload = {\n    stateProduksi: stateProduksi,\n    stateStop: stateStop,\n    stateDandori: stateDandori,\n    stateTrblDie: stateTrblDie,\n    stateTrblMC: stateTrblMC,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["43a83364.1bd93c"]]},{"id":"43a83364.1bd93c","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"69dc3822.6449a8","client":"","x":600,"y":300,"wires":[]},{"id":"67929196.37bcf","type":"mqtt in","z":"c30d56e.b4f5ea8","name":"","topic":"machineAASimulator","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":120,"y":120,"wires":[["ed267135.f9996","104784a8.4237cb","bc05a5de.a19268"]]},{"id":"104784a8.4237cb","type":"debug","z":"c30d56e.b4f5ea8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":20,"wires":[]},{"id":"ed267135.f9996","type":"function","z":"c30d56e.b4f5ea8","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineAASimulator.Mch1.CurrentStroke'){\n        currentStroke = index.v;\n    }\n});\n\nmsg.payload = {\n    currentStroke: currentStroke\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["65686330.ae67ec","3643237c.e4a75c"]]},{"id":"65686330.ae67ec","type":"debug","z":"c30d56e.b4f5ea8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":20,"wires":[]},{"id":"3643237c.e4a75c","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"fa47692d.d86268","client":"","x":640,"y":140,"wires":[]},{"id":"bc05a5de.a19268","type":"function","z":"c30d56e.b4f5ea8","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\nvar stateProduksi = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineAASimulator.Mch1.AA_PROD'){\n        stateProduksi = index.v;\n    }else if(index.id == 'LineAASimulator.Mch1.AA_STOP'){\n        stateStop = index.v;\n    }else if(index.id == 'LineAASimulator.Mch1.AA_DAND'){\n        stateDandori = index.v;\n    }else if(index.id == 'LineAASimulator.Mch1.AA_TRBL'){\n        stateTrblDie = index.v;\n    }else if(index.id == 'LineAASimulator.Mch1.AA_MC'){\n        stateTrblMC = index.v;\n    }\n});\n\nmsg.payload = {\n    stateProduksi: stateProduksi,\n    stateStop: stateStop,\n    stateDandori: stateDandori,\n    stateTrblDie: stateTrblDie,\n    stateTrblMC: stateTrblMC,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["62be65d2.8e8e8c"]]},{"id":"62be65d2.8e8e8c","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"9540e14e.49128","client":"","x":650,"y":300,"wires":[]},{"id":"27c896d1.19b94a","type":"mqtt in","z":"93eeb99f.38ec78","name":"","topic":"machineZSimulator","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":110,"y":120,"wires":[["8a30e66a.e85be8","98c16972.e29598","816ed627.452b18"]]},{"id":"98c16972.e29598","type":"debug","z":"93eeb99f.38ec78","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":20,"wires":[]},{"id":"8a30e66a.e85be8","type":"function","z":"93eeb99f.38ec78","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineZSimulator.Mch1.CurrentStroke'){\n        currentStroke = index.v;\n    }\n});\n\nmsg.payload = {\n    currentStroke: currentStroke\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["eb4727f3.81fc38","794af431.00bf5c"]]},{"id":"eb4727f3.81fc38","type":"debug","z":"93eeb99f.38ec78","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":20,"wires":[]},{"id":"794af431.00bf5c","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"74032fd5.09d1","client":"","x":630,"y":140,"wires":[]},{"id":"816ed627.452b18","type":"function","z":"93eeb99f.38ec78","name":"","func":"var arrData = msg.payload.values;\nvar currentStroke = \"\";\nvar stateProduksi = \"\";\narrData.forEach(function(index, value){\n    if(index.id == 'LineZSimulator.Mch1.Z_PROD'){\n        stateProduksi = index.v;\n    }else if(index.id == 'LineZSimulator.Mch1.Z_STOP'){\n        stateStop = index.v;\n    }else if(index.id == 'LineZSimulator.Mch1.Z_DAND'){\n        stateDandori = index.v;\n    }else if(index.id == 'LineZSimulator.Mch1.Z_TRBL'){\n        stateTrblDie = index.v;\n    }else if(index.id == 'LineZSimulator.Mch1.Z_MC'){\n        stateTrblMC = index.v;\n    }\n});\n\nmsg.payload = {\n    stateProduksi: stateProduksi,\n    stateStop: stateStop,\n    stateDandori: stateDandori,\n    stateTrblDie: stateTrblDie,\n    stateTrblMC: stateTrblMC,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["fbabc407.238878"]]},{"id":"fbabc407.238878","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"b87e9275.99364","client":"","x":640,"y":300,"wires":[]}]