NODERED FLOW/andonx.txt
[{"id":"ca41a62d.cb3e88","type":"tab","label":"WS Machine I","disabled":false,"info":""},{"id":"d123c74c.ba21b8","type":"tab","label":"WS Machine H","disabled":false,"info":""},{"id":"c30d56e.b4f5ea8","type":"tab","label":"WS Machine AA","disabled":false,"info":""},{"id":"93eeb99f.38ec78","type":"tab","label":"WS Machine Z","disabled":false,"info":""},{"id":"9c9f9c3a.64044","type":"tab","label":"WS Target Stroke","disabled":false,"info":""},{"id":"19a6cb10.7b7775","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"andonx","tz":"","charset":"UTF8"},{"id":"2c8afd5d.06e592","type":"websocket-listener","path":"/ws/real_target_stroke","wholemsg":"false"},{"id":"a1a5f5f9.225578","type":"websocket-listener","path":"/ws/machine_indicator_i","wholemsg":"false"},{"id":"b46f4cb3.4cbef","type":"websocket-listener","path":"/ws/item_name_machine_i","wholemsg":"false"},{"id":"c75d53fd.d7125","type":"websocket-listener","path":"/ws/item_name_machine_h","wholemsg":"false"},{"id":"ad552998.8a6b28","type":"websocket-listener","path":"/ws/item_name_machine_aa","wholemsg":"false"},{"id":"9478d176.29c63","type":"websocket-listener","path":"/ws/item_name_machine_z","wholemsg":"false"},{"id":"76083576.c71f5c","type":"websocket-listener","path":"/ws/current_stroke_i","wholemsg":"false"},{"id":"87fc646e.033178","type":"websocket-listener","path":"/ws/current_stroke_h","wholemsg":"false"},{"id":"fa47692d.d86268","type":"websocket-listener","path":"/ws/current_stroke_aa","wholemsg":"false"},{"id":"74032fd5.09d1","type":"websocket-listener","path":"/ws/current_stroke_z","wholemsg":"false"},{"id":"848fa966.8e6968","type":"websocket-listener","path":"/ws/total_stroke_i","wholemsg":"false"},{"id":"d8efc4cb.f3e838","type":"websocket-listener","path":"/ws/total_stroke_h","wholemsg":"false"},{"id":"4528656a.39cd5c","type":"websocket-listener","path":"/ws/total_stroke_aa","wholemsg":"false"},{"id":"6e8a590d.9cfb88","type":"websocket-listener","path":"/ws/total_stroke_z","wholemsg":"false"},{"id":"61affe4d.d050e","type":"websocket-listener","path":"/ws/total_line_stop_i","wholemsg":"false"},{"id":"6a32a527.44577c","type":"websocket-listener","path":"/ws/total_line_stop_h","wholemsg":"false"},{"id":"c7c58b3f.c4cb78","type":"websocket-listener","path":"/ws/total_line_stop_aa","wholemsg":"false"},{"id":"93ab367b.77ba78","type":"websocket-listener","path":"/ws/total_line_stop_z","wholemsg":"false"},{"id":"201b2a93.0b9286","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69dc3822.6449a8","type":"websocket-listener","path":"/ws/machine_indicator_h","wholemsg":"false"},{"id":"9540e14e.49128","type":"websocket-listener","path":"/ws/machine_indicator_aa","wholemsg":"false"},{"id":"b87e9275.99364","type":"websocket-listener","path":"/ws/machine_indicator_z","wholemsg":"false"},{"id":"60134674.e95498","type":"inject","z":"9c9f9c3a.64044","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["cf5e029b.e437"]]},{"id":"cf5e029b.e437","type":"function","z":"9c9f9c3a.64044","name":"QUERY","func":"msg.topic = `select * from targets`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":279,"y":62,"wires":[["f8017861.431698"]]},{"id":"f8017861.431698","type":"mysql","z":"9c9f9c3a.64044","mydb":"19a6cb10.7b7775","name":"DB andonx","x":449,"y":102,"wires":[["34504aa1.1484d6","e9ed6b02.8cbdc8"]]},{"id":"34504aa1.1484d6","type":"debug","z":"9c9f9c3a.64044","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":629,"y":62,"wires":[]},{"id":"3f31058.5d193fa","type":"websocket out","z":"9c9f9c3a.64044","name":"/ws/real_target_stroke == WS Out Target Stroke","server":"2c8afd5d.06e592","client":"","x":899,"y":182,"wires":[]},{"id":"e9ed6b02.8cbdc8","type":"jquerify","z":"9c9f9c3a.64044","name":"","func":"var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":142,"wires":[["3f31058.5d193fa"]]},{"id":"47607800.8950c8","type":"mqtt in","z":"ca41a62d.cb3e88","name":"","topic":"dataLineI","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":80,"y":40,"wires":[["78507fc5.47702","af29fadd.a989c8","758a27fb.b8a828","ee890644.175af8","6f181abc.2084a4"]]},{"id":"78507fc5.47702","type":"function","z":"ca41a62d.cb3e88","name":"State","func":"var prod = 0;\nvar stop = 0;\nvar dand = 0;\nvar trbl = 0;\nvar die  = 0;\nvar mc   = 0;\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    // if(val.id == \"Channel1.Device1.I_PROD\" && val.v != \"\"){\n    //     prod = val.v;\n    // }\n    \n    if(val.id == \"Channel1.Device1.I_STOP\" && val.v != \"\"){\n        stop = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.I_DAND\"  && val.v != \"\"){\n        dand = val.v;\n    }\n    \n    // if(val.id == \"Channel1.Device1.I_TRBL\"  && val.v != \"\"){\n    //     trbl = val.v;\n    // }\n    \n    // if(val.id == \"Channel1.Device1.I_DIE\" && val.v != \"\"){\n    //     die = val.v;\n    // }\n    \n    if(val.id == \"Channel1.Device1.I_MC\" && val.v != \"\"){\n        mc = val.v;\n    }\n    \n    // REMOVE IN PRODUCTION\n    if(val.id == \"Test.Mch1.i_prod\" && val.v != \"\"){\n        prod = val.v;\n    }\n    \n    if(val.id == \"Test.Mch1.i_trbl\"  && val.v != \"\"){\n        trbl = val.v;\n    }\n    \n    if(val.id == \"Test.Mch1.i_die\" && val.v != \"\"){\n        die = val.v;\n    }\n    //END REMOVE IN PRODUCTION\n    \n});\n\nmsg.payload = {\n    prod: prod,\n    stop: stop,\n    dand: dand,\n    trbl: trbl,\n    die : die,\n    mc  : mc,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["2d7911d8.4d501e","547ffdb1.4b9fd4"]]},{"id":"7797222c.6f26cc","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"b46f4cb3.4cbef","client":"","x":870,"y":160,"wires":[]},{"id":"f5dc123d.a6512","type":"function","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    a: \"A\",\n    b: \"B\",\n    c: \"C\",\n    d: \"D\",\n    e: \"E\",\n    f: \"F\",\n    g: \"G\",\n    h: \"H\",\n    i: \"I\",\n    j: \"J\",\n    k: \"K\",\n    l: \"L\",\n    m: \"M\",\n    n: \"N\",\n    o: \"O\",\n    p: \"P\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["7797222c.6f26cc"]]},{"id":"af29fadd.a989c8","type":"function","z":"ca41a62d.cb3e88","name":"Item Name","func":"var a = \"-\";\nvar b = \"-\";\nvar c = \"-\";\nvar d = \"-\";\nvar e = \"-\";\nvar f = \"-\";\nvar g = \"-\";\nvar h = \"-\";\nvar i = \"-\";\nvar j = \"-\";\nvar k = \"-\";\nvar l = \"-\";\nvar m = \"-\";\nvar n = \"-\";\nvar o = \"-\";\nvar p = \"-\";\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.D5300\"){\n        a = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5301\"){\n        b = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5302\"){\n        c = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5303\"){\n        d = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5304\"){\n        e = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5305\"){\n        f = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5306\"){\n        g = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5307\"){\n        h = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5308\"){\n        i = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5309\"){\n        j = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5310\"){\n        k = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5311\"){\n        l = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5312\"){\n        m = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5313\"){\n        n = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5314\"){\n        o = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5315\"){\n        p = val.v;\n    }\n});\n\nmsg.payload = {\n    a: a,\n    b: b,\n    c: c,\n    d: d,\n    e: e,\n    f: f,\n    g: g,\n    h: h,\n    i: i,\n    j: j,\n    k: k,\n    l: l,\n    m: m,\n    n: n,\n    o: o,\n    p: p,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["f5dc123d.a6512"]]},{"id":"547ffdb1.4b9fd4","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"a1a5f5f9.225578","client":"","x":840,"y":100,"wires":[]},{"id":"2d7911d8.4d501e","type":"function","z":"ca41a62d.cb3e88","d":true,"name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    prod: 0,\n    stop: 0,\n    dand: 0,\n    trbl: 1,\n    die : 1,\n    mc  : 0,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["547ffdb1.4b9fd4"]]},{"id":"758a27fb.b8a828","type":"function","z":"ca41a62d.cb3e88","name":"Current Stroke","func":"var currentStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_current_stroke = arr.find( ({ id }) => id === 'LineI.Mch1.CurrentStroke' );\n\ncurrentStroke = (arr_current_stroke.v != \"\") ? arr_current_stroke.v : currentStroke; \n\nmsg.payload = {\n    currentStroke: currentStroke,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["e946298f.ec9ca8"]]},{"id":"e946298f.ec9ca8","type":"function","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    currentStroke: 1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["d6c7f7ff.487738"]]},{"id":"d6c7f7ff.487738","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"76083576.c71f5c","client":"","x":850,"y":220,"wires":[]},{"id":"ee890644.175af8","type":"function","z":"ca41a62d.cb3e88","name":"Total Stroke","func":"var totalStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D19' );\n\ntotalStroke = (arr_total_stroke.v != \"\") ? arr_total_stroke.v : totalStroke; \n\nmsg.payload = {\n    totalStroke: totalStroke,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["bf19a69f.e8cb98"]]},{"id":"bf19a69f.e8cb98","type":"function","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalStroke: 1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["f1e818ca.ac5b78"]]},{"id":"f1e818ca.ac5b78","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"848fa966.8e6968","client":"","x":840,"y":280,"wires":[]},{"id":"6f181abc.2084a4","type":"function","z":"ca41a62d.cb3e88","name":"Total Line Stop","func":"var totalLineStop = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_line_stop = arr.find( ({ id }) => id === 'Channel1.Device1.I_LS_Total' );\n\ntotalLineStop = (arr_total_line_stop.v != \"\") ? arr_total_line_stop.v : totalLineStop; \n\nmsg.payload = {\n    totalLineStop: totalLineStop,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["44cc8626.1a3328"]]},{"id":"44cc8626.1a3328","type":"function","z":"ca41a62d.cb3e88","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalLineStop: 1,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["7b7efa98.89f134"]]},{"id":"7b7efa98.89f134","type":"websocket out","z":"ca41a62d.cb3e88","name":"","server":"61affe4d.d050e","client":"","x":850,"y":340,"wires":[]},{"id":"41f006eb.cc3be8","type":"mqtt in","z":"d123c74c.ba21b8","name":"","topic":"dataLineH","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":80,"y":40,"wires":[["d1de8f1.8b8d87","f5609eea.eb5a2","1a9444fe.73f62b","ba76dbdc.aa8bd8","d7ca7735.d4d8f8"]]},{"id":"d1de8f1.8b8d87","type":"function","z":"d123c74c.ba21b8","name":"State","func":"var prod = 0;\nvar stop = 0;\nvar dand = 0;\nvar trbl = 0;\nvar die  = 0;\nvar mc   = 0;\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.H_PROD\" && val.v != \"\"){\n        prod = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.H_STOP\" && val.v != \"\"){\n        stop = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.H_DAND\"  && val.v != \"\"){\n        dand = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.H_TRBL\"  && val.v != \"\"){\n        trbl = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.H_DIE\" && val.v != \"\"){\n        die = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.H_MC\" && val.v != \"\"){\n        mc = val.v;\n    }\n    \n});\n\nmsg.payload = {\n    prod: prod,\n    stop: stop,\n    dand: dand,\n    trbl: trbl,\n    die : die,\n    mc  : mc,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["6932cf22.fe6f6"]]},{"id":"125d6ebe.4ef031","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"c75d53fd.d7125","client":"","x":870,"y":160,"wires":[]},{"id":"924ded1a.887bf","type":"function","z":"d123c74c.ba21b8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    a: \"A\",\n    b: \"B\",\n    c: \"C\",\n    d: \"D\",\n    e: \"E\",\n    f: \"F\",\n    g: \"G\",\n    h: \"H\",\n    i: \"I\",\n    j: \"J\",\n    k: \"K\",\n    l: \"L\",\n    m: \"M\",\n    n: \"N\",\n    // o: \"O\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["125d6ebe.4ef031"]]},{"id":"f5609eea.eb5a2","type":"function","z":"d123c74c.ba21b8","name":"Item Name","func":"var a = \"-\";\nvar b = \"-\";\nvar c = \"-\";\nvar d = \"-\";\nvar e = \"-\";\nvar f = \"-\";\nvar g = \"-\";\nvar h = \"-\";\nvar i = \"-\";\nvar j = \"-\";\nvar k = \"-\";\nvar l = \"-\";\nvar m = \"-\";\nvar n = \"-\";\nvar o = \"-\";\nvar p = \"-\";\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.D5000\"){\n        a = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5001\"){\n        b = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5002\"){\n        c = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5003\"){\n        d = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5004\"){\n        e = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5005\"){\n        f = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5006\"){\n        g = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5007\"){\n        h = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5008\"){\n        i = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5009\"){\n        j = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5010\"){\n        k = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5011\"){\n        l = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5012\"){\n        m = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5013\"){\n        n = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5014\"){\n        o = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5015\"){\n        p = val.v;\n    }\n});\n\nmsg.payload = {\n    a: a,\n    b: b,\n    c: c,\n    d: d,\n    e: e,\n    f: f,\n    g: g,\n    h: h,\n    i: i,\n    j: j,\n    k: k,\n    l: l,\n    m: m,\n    n: n,\n    o: o,\n    p: p,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["924ded1a.887bf"]]},{"id":"d61fcd5.8c1713","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"69dc3822.6449a8","client":"","x":860,"y":100,"wires":[]},{"id":"6932cf22.fe6f6","type":"function","z":"d123c74c.ba21b8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    prod: 0,\n    stop: 1,\n    dand: 0,\n    trbl: 0,\n    die : 0,\n    mc  : 0,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["d61fcd5.8c1713"]]},{"id":"1a9444fe.73f62b","type":"function","z":"d123c74c.ba21b8","name":"Current Stroke","func":"var currentStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_current_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D26' );\n\ncurrentStroke = (arr_current_stroke.v != \"\") ? arr_current_stroke.v : currentStroke; \n\nmsg.payload = {\n    currentStroke: currentStroke,\n}\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["6869ec38.365284"]]},{"id":"6869ec38.365284","type":"function","z":"d123c74c.ba21b8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    currentStroke: 10,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["3c2d9c9e.63ecc4"]]},{"id":"3c2d9c9e.63ecc4","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"87fc646e.033178","client":"","x":850,"y":220,"wires":[]},{"id":"ba76dbdc.aa8bd8","type":"function","z":"d123c74c.ba21b8","name":"Total Stroke","func":"var totalStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D27' );\n\ntotalStroke = (arr_total_stroke.v != \"\") ? arr_total_stroke.v : totalStroke; \n\nmsg.payload = {\n    totalStroke: totalStroke,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["75ae43e8.74e0fc"]]},{"id":"75ae43e8.74e0fc","type":"function","z":"d123c74c.ba21b8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalStroke: 10,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["38b243ef.9cc5fc"]]},{"id":"38b243ef.9cc5fc","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"d8efc4cb.f3e838","client":"","x":840,"y":280,"wires":[]},{"id":"d7ca7735.d4d8f8","type":"function","z":"d123c74c.ba21b8","name":"Total Line Stop","func":"var totalLineStop = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_line_stop = arr.find( ({ id }) => id === 'Channel1.Device1.H_LS_Total' );\n\ntotalLineStop = (arr_total_line_stop.v != \"\") ? arr_total_line_stop.v : totalLineStop; \n\nmsg.payload = {\n    totalLineStop: totalLineStop,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["ac5b3486.9a9468"]]},{"id":"ac5b3486.9a9468","type":"function","z":"d123c74c.ba21b8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalLineStop: 10,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["2781aab8.fa2826"]]},{"id":"2781aab8.fa2826","type":"websocket out","z":"d123c74c.ba21b8","name":"","server":"6a32a527.44577c","client":"","x":850,"y":340,"wires":[]},{"id":"a860ebf9.0fc5c8","type":"mqtt in","z":"c30d56e.b4f5ea8","name":"","topic":"dataLineAA","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":90,"y":40,"wires":[["d1738c60.38c65","23691a2c.416866","dc53335a.9abfc","55f4adda.501104","4a9a3090.073c9"]]},{"id":"d1738c60.38c65","type":"function","z":"c30d56e.b4f5ea8","name":"State","func":"var prod = 0;\nvar stop = 0;\nvar dand = 0;\nvar trbl = 0;\nvar die  = 0;\nvar mc   = 0;\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.AA_PROD\" && val.v != \"\"){\n        prod = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.AA_STOP\" && val.v != \"\"){\n        stop = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.AA_DAND\"  && val.v != \"\"){\n        dand = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.AA_TRBL\"  && val.v != \"\"){\n        trbl = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.AA_DIE\" && val.v != \"\"){\n        die = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.AA_MC\" && val.v != \"\"){\n        mc = val.v;\n    }\n    \n});\n\nmsg.payload = {\n    prod: prod,\n    stop: stop,\n    dand: dand,\n    trbl: trbl,\n    die : die,\n    mc  : mc,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["2bc018a4.d78868"]]},{"id":"50256c53.1c4974","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"ad552998.8a6b28","client":"","x":880,"y":160,"wires":[]},{"id":"66fe05cf.ea4c7c","type":"function","z":"c30d56e.b4f5ea8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    a: \"A\",\n    b: \"B\",\n    c: \"C\",\n    d: \"D\",\n    e: \"E\",\n    f: \"F\",\n    g: \"G\",\n    h: \"H\",\n    i: \"I\",\n    j: \"J\",\n    k: \"K\",\n    l: \"L\",\n    m: \"M\",\n    n: \"N\",\n    // o: \"O\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["50256c53.1c4974"]]},{"id":"23691a2c.416866","type":"function","z":"c30d56e.b4f5ea8","name":"Item Name","func":"var a = \"-\";\nvar b = \"-\";\nvar c = \"-\";\nvar d = \"-\";\nvar e = \"-\";\nvar f = \"-\";\nvar g = \"-\";\nvar h = \"-\";\nvar i = \"-\";\nvar j = \"-\";\nvar k = \"-\";\nvar l = \"-\";\nvar m = \"-\";\nvar n = \"-\";\nvar o = \"-\";\nvar p = \"-\";\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.D5200\"){\n        a = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5201\"){\n        b = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5202\"){\n        c = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5203\"){\n        d = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5204\"){\n        e = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5205\"){\n        f = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5206\"){\n        g = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5207\"){\n        h = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5208\"){\n        i = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5209\"){\n        j = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5210\"){\n        k = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5211\"){\n        l = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5212\"){\n        m = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5213\"){\n        n = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5213\"){\n        o = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5214\"){\n        p = val.v;\n    }\n});\n\nmsg.payload = {\n    a: a,\n    b: b,\n    c: c,\n    d: d,\n    e: e,\n    f: f,\n    g: g,\n    h: h,\n    i: i,\n    j: j,\n    k: k,\n    l: l,\n    m: m,\n    n: n,\n    o: o,\n    p: p,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["66fe05cf.ea4c7c"]]},{"id":"5aa89a3f.24a594","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"9540e14e.49128","client":"","x":870,"y":100,"wires":[]},{"id":"2bc018a4.d78868","type":"function","z":"c30d56e.b4f5ea8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    prod: 0,\n    stop: 0,\n    dand: 1,\n    trbl: 0,\n    die : 0,\n    mc  : 0,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["5aa89a3f.24a594"]]},{"id":"dc53335a.9abfc","type":"function","z":"c30d56e.b4f5ea8","name":"Current Stroke","func":"var currentStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_current_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D2' );\n\ncurrentStroke = (arr_current_stroke.v != \"\") ? arr_current_stroke.v : currentStroke; \n\nmsg.payload = {\n    currentStroke: currentStroke,\n}\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["47a7db61.216ee4"]]},{"id":"47a7db61.216ee4","type":"function","z":"c30d56e.b4f5ea8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    currentStroke: 100,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["fe8028ca.ea9a08"]]},{"id":"fe8028ca.ea9a08","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"fa47692d.d86268","client":"","x":860,"y":220,"wires":[]},{"id":"55f4adda.501104","type":"function","z":"c30d56e.b4f5ea8","name":"Total Stroke","func":"var totalStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D3' );\n\ntotalStroke = (arr_total_stroke.v != \"\") ? arr_total_stroke.v : totalStroke; \n\nmsg.payload = {\n    totalStroke: totalStroke,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["418025d6.a86aac"]]},{"id":"418025d6.a86aac","type":"function","z":"c30d56e.b4f5ea8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalStroke: 100,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["4cb2f8b2.404228"]]},{"id":"4cb2f8b2.404228","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"4528656a.39cd5c","client":"","x":850,"y":280,"wires":[]},{"id":"4a9a3090.073c9","type":"function","z":"c30d56e.b4f5ea8","name":"Total Line Stop","func":"var totalLineStop = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_line_stop = arr.find( ({ id }) => id === 'Channel1.Device1.D3128' );\n\ntotalLineStop = (arr_total_line_stop.v != \"\") ? arr_total_line_stop.v : totalLineStop; \n\nmsg.payload = {\n    totalLineStop: totalLineStop,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["6a5f52d9.84d46c"]]},{"id":"6a5f52d9.84d46c","type":"function","z":"c30d56e.b4f5ea8","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalLineStop: 100,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["a8452111.58615"]]},{"id":"a8452111.58615","type":"websocket out","z":"c30d56e.b4f5ea8","name":"","server":"c7c58b3f.c4cb78","client":"","x":860,"y":340,"wires":[]},{"id":"261b12cc.13c6be","type":"mqtt in","z":"93eeb99f.38ec78","name":"","topic":"dataLineZ","qos":"0","datatype":"json","broker":"201b2a93.0b9286","x":80,"y":40,"wires":[["4b3086c9.5506f8","92f30dd0.d6545","6fdc8483.1a7adc","5b841bc9.786664","44f02e35.dda86"]]},{"id":"4b3086c9.5506f8","type":"function","z":"93eeb99f.38ec78","name":"State","func":"var prod = 0;\nvar stop = 0;\nvar dand = 0;\nvar trbl = 0;\nvar die  = 0;\nvar mc   = 0;\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.Z_PROD\" && val.v != \"\"){\n        prod = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.Z_STOP\" && val.v != \"\"){\n        stop = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.Z_DAND\"  && val.v != \"\"){\n        dand = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.Z_TRBL\"  && val.v != \"\"){\n        trbl = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.Z_DIE\" && val.v != \"\"){\n        die = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.Z_MC\" && val.v != \"\"){\n        mc = val.v;\n    }\n    \n});\n\nmsg.payload = {\n    prod: prod,\n    stop: stop,\n    dand: dand,\n    trbl: trbl,\n    die : die,\n    mc  : mc,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":100,"wires":[["484d1379.8d524c"]]},{"id":"6cc497f.4b9ac68","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"9478d176.29c63","client":"","x":870,"y":160,"wires":[]},{"id":"7c0bda64.725a74","type":"function","z":"93eeb99f.38ec78","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    a: \"A\",\n    b: \"B\",\n    c: \"C\",\n    d: \"D\",\n    e: \"E\",\n    f: \"F\",\n    g: \"G\",\n    h: \"H\",\n    i: \"I\",\n    j: \"J\",\n    k: \"K\",\n    l: \"L\",\n    m: \"M\",\n    n: \"N\",\n    o: \"O\",\n    p: \"P\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["6cc497f.4b9ac68"]]},{"id":"92f30dd0.d6545","type":"function","z":"93eeb99f.38ec78","name":"Item Name","func":"var a = \"-\";\nvar b = \"-\";\nvar c = \"-\";\nvar d = \"-\";\nvar e = \"-\";\nvar f = \"-\";\nvar g = \"-\";\nvar h = \"-\";\nvar i = \"-\";\nvar j = \"-\";\nvar k = \"-\";\nvar l = \"-\";\nvar m = \"-\";\nvar n = \"-\";\nvar o = \"-\";\nvar p = \"-\";\n\nObject.entries(msg.payload.values).forEach( ([key, val]) => {\n\n    if(val.id == \"Channel1.Device1.D5100\"){\n        a = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5101\"){\n        b = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5102\"){\n        c = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5103\"){\n        d = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5104\"){\n        e = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5105\"){\n        f = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5106\"){\n        g = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5107\"){\n        h = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5108\"){\n        i = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5109\"){\n        j = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5110\"){\n        k = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5111\"){\n        l = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5112\"){\n        m = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5113\"){\n        n = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5114\"){\n        o = val.v;\n    }\n    \n    if(val.id == \"Channel1.Device1.D5115\"){\n        p = val.v;\n    }\n});\n\nmsg.payload = {\n    a: a,\n    b: b,\n    c: c,\n    d: d,\n    e: e,\n    f: f,\n    g: g,\n    h: h,\n    i: i,\n    j: j,\n    k: k,\n    l: l,\n    m: m,\n    n: n,\n    o: o,\n    p: p,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["7c0bda64.725a74"]]},{"id":"66d4ab10.f14344","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"b87e9275.99364","client":"","x":860,"y":100,"wires":[]},{"id":"484d1379.8d524c","type":"function","z":"93eeb99f.38ec78","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    prod: 0,\n    stop: 0,\n    dand: 0,\n    trbl: 1,\n    die : 0,\n    mc  : 1,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":100,"wires":[["66d4ab10.f14344"]]},{"id":"6fdc8483.1a7adc","type":"function","z":"93eeb99f.38ec78","name":"Current Stroke","func":"var currentStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_current_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D10' );\n\ncurrentStroke = (arr_current_stroke.v != \"\") ? arr_current_stroke.v : currentStroke; \n\nmsg.payload = {\n    currentStroke: currentStroke,\n}\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["556dbae6.a30fd4"]]},{"id":"556dbae6.a30fd4","type":"function","z":"93eeb99f.38ec78","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    currentStroke: 1000,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["ea800ba0.77d108"]]},{"id":"ea800ba0.77d108","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"74032fd5.09d1","client":"","x":850,"y":220,"wires":[]},{"id":"5b841bc9.786664","type":"function","z":"93eeb99f.38ec78","name":"Total Stroke","func":"var totalStroke = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_stroke = arr.find( ({ id }) => id === 'Channel1.Device1.D11' );\n\ntotalStroke = (arr_total_stroke.v != \"\") ? arr_total_stroke.v : totalStroke; \n\nmsg.payload = {\n    totalStroke: totalStroke,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["18c96954.8179e7"]]},{"id":"18c96954.8179e7","type":"function","z":"93eeb99f.38ec78","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalStroke: 1000,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["46a8240c.84463c"]]},{"id":"46a8240c.84463c","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"6e8a590d.9cfb88","client":"","x":840,"y":280,"wires":[]},{"id":"44f02e35.dda86","type":"function","z":"93eeb99f.38ec78","name":"Total Line Stop","func":"var totalLineStop = 0;\n\nvar arr = msg.payload.values;\nvar arr_total_line_stop = arr.find( ({ id }) => id === 'Channel1.Device1.D3028' );\n\ntotalLineStop = (arr_total_line_stop.v != \"\") ? arr_total_line_stop.v : totalLineStop; \n\nmsg.payload = {\n    totalLineStop: totalLineStop,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["a4e5b54d.d696d8"]]},{"id":"a4e5b54d.d696d8","type":"function","z":"93eeb99f.38ec78","name":"REMOVE IN PRODUCTION","func":"msg.payload = {\n    totalLineStop: 1000,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["6acdb916.45d6d8"]]},{"id":"6acdb916.45d6d8","type":"websocket out","z":"93eeb99f.38ec78","name":"","server":"93ab367b.77ba78","client":"","x":850,"y":340,"wires":[]}]