NODERED FLOW/FLOW - WS CURRENT STROKE.txt
[{"id":"d18c2fab.535f8","type":"tab","label":"WS Current Stroke","disabled":false,"info":""},{"id":"b31269ca.ceea08","type":"inject","z":"d18c2fab.535f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["391a9627.d53e1a","328aa2d7.b728be","d089e249.8b98f","86b01edd.3c72b"]]},{"id":"391a9627.d53e1a","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke I","func":"msg.payload = {\n    currentStrokeI: currentStrokeI++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('i', 'current_stroke', '${currentStrokeI}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeI = 0;","finalize":"","x":380,"y":160,"wires":[["65bdc323.40477c","9ecb7446.db4b98"]]},{"id":"65bdc323.40477c","type":"mysql","z":"d18c2fab.535f8","mydb":"19a6cb10.7b7775","name":"","x":700,"y":400,"wires":[[]]},{"id":"9ecb7446.db4b98","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_i == WS Out Current Stroke","server":"76083576.c71f5c","client":"","x":800,"y":160,"wires":[]},{"id":"328aa2d7.b728be","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke H","func":"msg.payload = {\n    currentStrokeH: currentStrokeH++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('h', 'current_stroke', '${currentStrokeH}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeH = 10;","finalize":"","x":380,"y":220,"wires":[["65bdc323.40477c","8bf67aa7.611bc8"]]},{"id":"d089e249.8b98f","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke AA","func":"msg.payload = {\n    currentStrokeAA: currentStrokeAA++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('aa', 'current_stroke', '${currentStrokeAA}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeAA = 100;","finalize":"","x":380,"y":280,"wires":[["65bdc323.40477c","647307e9.5206a8"]]},{"id":"86b01edd.3c72b","type":"function","z":"d18c2fab.535f8","name":"SQL + Increment Current Stroke Z","func":"msg.payload = {\n    currentStrokeZ: currentStrokeZ++\n}\n\nmsg.topic = `\nINSERT INTO machine_logs (machine, category, value, created_at) \nVALUES ('z', 'current_stroke', '${currentStrokeZ}', NOW()) \n`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncurrentStrokeZ = 1000;","finalize":"","x":380,"y":340,"wires":[["65bdc323.40477c","9d115488.e48288"]]},{"id":"8bf67aa7.611bc8","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_h == WS Out Current Stroke","server":"87fc646e.033178","client":"","x":800,"y":220,"wires":[]},{"id":"647307e9.5206a8","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_aa == WS Out Current Stroke","server":"fa47692d.d86268","client":"","x":810,"y":280,"wires":[]},{"id":"9d115488.e48288","type":"websocket out","z":"d18c2fab.535f8","name":"/ws/current_stroke_z == WS Out Current Stroke","server":"74032fd5.09d1","client":"","x":800,"y":340,"wires":[]},{"id":"19a6cb10.7b7775","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"andonx","tz":"","charset":"UTF8"},{"id":"76083576.c71f5c","type":"websocket-listener","path":"/ws/current_stroke_i","wholemsg":"false"},{"id":"87fc646e.033178","type":"websocket-listener","path":"/ws/current_stroke_h","wholemsg":"false"},{"id":"fa47692d.d86268","type":"websocket-listener","path":"/ws/current_stroke_aa","wholemsg":"false"},{"id":"74032fd5.09d1","type":"websocket-listener","path":"/ws/current_stroke_z","wholemsg":"false"}]