NODERED FLOW/FLOW - WS MACHINE STATE.txt
[
    {
        "id": "ca41a62d.cb3e88",
        "type": "tab",
        "label": "WS Machine State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41e30c76.cd5414",
        "type": "inject",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "6612148c.0ea3dc"
            ]
        ]
    },
    {
        "id": "6612148c.0ea3dc",
        "type": "function",
        "z": "ca41a62d.cb3e88",
        "name": "QUERY",
        "func": "msg.topic = `select * from machine_states`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 279,
        "y": 62,
        "wires": [
            [
                "db408ff9.87c93"
            ]
        ]
    },
    {
        "id": "db408ff9.87c93",
        "type": "mysql",
        "z": "ca41a62d.cb3e88",
        "mydb": "19a6cb10.7b7775",
        "name": "DB andonx",
        "x": 449,
        "y": 102,
        "wires": [
            [
                "d44b161.1fa45e8",
                "73498682.402e58"
            ]
        ]
    },
    {
        "id": "d44b161.1fa45e8",
        "type": "debug",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 629,
        "y": 62,
        "wires": []
    },
    {
        "id": "3ed495d2.62abfa",
        "type": "websocket out",
        "z": "ca41a62d.cb3e88",
        "name": "/ws/machine_indicator == WS Out Machine Indicator",
        "server": "a1a5f5f9.225578",
        "client": "",
        "x": 919,
        "y": 182,
        "wires": []
    },
    {
        "id": "73498682.402e58",
        "type": "jquerify",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "func": "var values = msg.payload[0];\nmsg.payload.data = values;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 619,
        "y": 142,
        "wires": [
            [
                "3ed495d2.62abfa"
            ]
        ]
    },
    {
        "id": "9aa51210.b4bb4",
        "type": "inject",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "9da21b58.320e58"
            ]
        ]
    },
    {
        "id": "9da21b58.320e58",
        "type": "function",
        "z": "ca41a62d.cb3e88",
        "name": "QUERY",
        "func": "var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'i' `;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "b15f315e.e8a33",
                "3762b42b.a3639c"
            ]
        ]
    },
    {
        "id": "b15f315e.e8a33",
        "type": "debug",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "3762b42b.a3639c",
        "type": "mysql",
        "z": "ca41a62d.cb3e88",
        "mydb": "19a6cb10.7b7775",
        "name": "DB andonx",
        "x": 130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fc5a07f.1f3c2f8",
        "type": "comment",
        "z": "ca41a62d.cb3e88",
        "name": "REMOVE IN PRODUCTION",
        "info": "REMOVE IN PRODUCTION",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "ac93c437.1a81b8",
        "type": "inject",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "4c873503.9531ac"
            ]
        ]
    },
    {
        "id": "4c873503.9531ac",
        "type": "function",
        "z": "ca41a62d.cb3e88",
        "name": "QUERY",
        "func": "var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'h' `;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "d7757a6e.ec8108",
                "eb6ce2e1.5253a"
            ]
        ]
    },
    {
        "id": "d7757a6e.ec8108",
        "type": "debug",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "eb6ce2e1.5253a",
        "type": "mysql",
        "z": "ca41a62d.cb3e88",
        "mydb": "19a6cb10.7b7775",
        "name": "DB andonx",
        "x": 120,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f310ef9e.1fc15",
        "type": "comment",
        "z": "ca41a62d.cb3e88",
        "name": "REMOVE IN PRODUCTION",
        "info": "REMOVE IN PRODUCTION",
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "b5a6a81c.9ae868",
        "type": "inject",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "1cfb0077.4bbf1"
            ]
        ]
    },
    {
        "id": "1cfb0077.4bbf1",
        "type": "function",
        "z": "ca41a62d.cb3e88",
        "name": "QUERY",
        "func": "var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'aa' `;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "f1f2f6b1.6c21e8",
                "f6af5637.56fd38"
            ]
        ]
    },
    {
        "id": "f1f2f6b1.6c21e8",
        "type": "debug",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 820,
        "wires": []
    },
    {
        "id": "f6af5637.56fd38",
        "type": "mysql",
        "z": "ca41a62d.cb3e88",
        "mydb": "19a6cb10.7b7775",
        "name": "DB andonx",
        "x": 140,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5e91d0b4.3a557",
        "type": "comment",
        "z": "ca41a62d.cb3e88",
        "name": "REMOVE IN PRODUCTION",
        "info": "REMOVE IN PRODUCTION",
        "x": 230,
        "y": 800,
        "wires": []
    },
    {
        "id": "9a5db3d0.02165",
        "type": "inject",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "90ef2a55.ec37b8"
            ]
        ]
    },
    {
        "id": "90ef2a55.ec37b8",
        "type": "function",
        "z": "ca41a62d.cb3e88",
        "name": "QUERY",
        "func": "var stateArray = [\n    'produksi',\n    'stop',\n    'dandori',\n    'trbl_die',\n    'trbl_mc',\n];\nvar randomState = Math.floor(Math.random() * stateArray.length); \nmsg.topic = `update machine_states set state = '${stateArray[randomState]}' where machine = 'z' `;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "38bbdd6d.ec40c2",
                "3c2bc934.e81c86"
            ]
        ]
    },
    {
        "id": "38bbdd6d.ec40c2",
        "type": "debug",
        "z": "ca41a62d.cb3e88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3c2bc934.e81c86",
        "type": "mysql",
        "z": "ca41a62d.cb3e88",
        "mydb": "19a6cb10.7b7775",
        "name": "DB andonx",
        "x": 140,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "652af2c4.109ebc",
        "type": "comment",
        "z": "ca41a62d.cb3e88",
        "name": "REMOVE IN PRODUCTION",
        "info": "REMOVE IN PRODUCTION",
        "x": 230,
        "y": 1040,
        "wires": []
    },
    {
        "id": "19a6cb10.7b7775",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "andonx",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a1a5f5f9.225578",
        "type": "websocket-listener",
        "path": "/ws/machine_indicator",
        "wholemsg": "false"
    }
]